1;Coal 100
2;Coal 70 Copper 30
3;Coal 59 Copper 28 Iron 9 Amber 2 Gold 1
4;Coal 54 Copper 32 Iron 10 Amber 2 Gold 1
5;Coal 48 Copper 36 Iron 11 Amber 2 Gold 1
6;Coal 43 Copper 40 Iron 12 Amber 2 Gold 1
7;Coal 38 Copper 45 Iron 13 Amber 2 Gold 1
8;Coal 33 Copper 49 Iron 14 Amber 1 Gold 2
9;Coal 27 Copper 53 Iron 15 Amber 1 Gold 2
10;Coal 22 Copper 57 Iron 16 Amber 1 Gold 2
11;Coal 17 Copper 61 Iron 17 Amber 1 Gold 2
12;Coal 12 Copper 65 Iron 18 Amber 1 Gold 2
13;Copper 100
14;Copper 70 Iron 30
15;Coal 7 Copper 58 Iron 19 Amber 9 Aluminium 3 Silver 2 Gold 2
16;Coal 4 Copper 52 Iron 19 Amber 15 Aluminium 6 Silver 2 Gold 2
17;Coal 4 Copper 46 Iron 19 Amber 20 Aluminium 7 Silver 1.5 Gold 1.5
18;Coal 4.5 Copper 40 Iron 18 Amber 25 Aluminium 7.8 Silver 1.5 Gold 1.5
19;Coal 5 Copper 35 Iron 18 Amber 30 Aluminium 9.5 Silver 1.5 Gold 1.5
20;Coal 3.5 Copper 29 Iron 18 Amber 35 Aluminium 11 Silver 1 Gold 1
21;Coal 3 Copper 23 Iron 18 Amber 40 Aluminium 13 Silver 1 Gold 1
22;Coal 2.5 Copper 17 Iron 17 Amber 45 Aluminium 15 Silver 2 Gold 0.5
23;Coal 1 Copper 11 Iron 17 Amber 50 Aluminium 16 Silver 3 Gold 0.5
24;Coal 1 Copper 5 Iron 17 Amber 55 Aluminium 18 Silver 4
25;Amber 100
26;Amber 70 Aluminium 30
27;Iron 19 Amber 50 Aluminium 26 Silver 4
28;Iron 20 Amber 45 Aluminium 30 Silver 5
29;Iron 21 Amber 40 Aluminium 33 Silver 5
30;Iron 22 Amber 35 Aluminium 36 Silver 6
31;Iron 23 Amber 30 Aluminium 40 Silver 6
32;Iron 24 Amber 25 Aluminium 43 Silver 7
33;Iron 25 Amber 19 Aluminium 46 Silver 8
34;Iron 26 Amber 15 Aluminium 50 Silver 8
35;Iron 27 Amber 11.5 Aluminium 53 Silver 7.5
36;Iron 28 Amber 8 Aluminium 56 Silver 6
37;Aluminium 100
38;Iron 30 Aluminium 70
39;Iron 25 Aluminium 50 Silver 11 Gold 10 Emerald 4
40;Iron 22 Aluminium 45 Silver 11 Gold 15 Emerald 6
41;Iron 20 Aluminium 40 Silver 12 Gold 20 Emerald 8
42;Iron 17 Aluminium 35 Silver 12 Gold 25 Emerald 10
43;Iron 15 Aluminium 30 Silver 13 Gold 30 Emerald 11
44;Iron 12 Aluminium 25 Silver 14 Gold 35 Emerald 13
45;Iron 10 Aluminium 19 Silver 14 Gold 40 Emerald 15
46;Iron 8 Aluminium 15 Silver 15 Gold 45 Emerald 17
47;Iron 5 Aluminium 10 Silver 15 Gold 50 Emerald 19
48;Iron 2.5 Aluminium 5.5 Silver 16 Gold 55 Emerald 21
49;Gold 100
50;Gold 70 Emerald 30
51;Silver 14 Gold 50 Emerald 25
52;Silver 12 Gold 45 Emerald 27
53;Silver 11 Gold 40 Emerald 28
54;Gold 35 Emerald 30 Ruby 12
55;Gold 30 Emerald 31 Ruby 15
56;Gold 25 Emerald 32 Ruby 17 Diamond 11
57;Gold 19 Emerald 34 Ruby 20 Diamond 13
58;Gold 15 Emerald 35 Ruby 22 Diamond 15
59;Emerald 37 Ruby 25 Diamond 16
60;Emerald 38 Ruby 27 Diamond 18
61;Emerald 100
62;Emerald 70 Ruby 30
63;Emerald 33 Topaz 13 Ruby 31 Diamond 16
64;Emerald 30 Topaz 15 Ruby 32 Diamond 15
65;Emerald 26 Topaz 16 Ruby 33 Diamond 13
66;Emerald 23 Topaz 18 Ruby 34 Diamond 11
67;Emerald 20 Topaz 20 Ruby 35
68;Emerald 16 Topaz 21 Ruby 35 Sapphire 11
69;Emerald 13 Topaz 23 Ruby 36 Sapphire 13
70;Topaz 25 Ruby 37 Sapphire 15
71;Topaz 26 Ruby 38 Sapphire 16
72;Topaz 28 Ruby 39 Sapphire 18
73;Ruby 100
74;Topaz 30 Ruby 70
75;Topaz 26 Ruby 38 Sapphire 16 Amethyst 15
76;Topaz 25 Ruby 37 Sapphire 15 Amethyst 17
77;Topaz 23 Ruby 36 Sapphire 13 Amethyst 20
78;Topaz 21 Ruby 35 Sapphire 11 Amethyst 22
79;Topaz 20 Ruby 35 Amethyst 25
80;Topaz 18 Ruby 34 Amethyst 27 Diamond 11
81;Topaz 16 Ruby 33 Amethyst 30 Diamond 13
82;Topaz 15 Ruby 32 Amethyst 32 Diamond 15
83;Topaz 13 Ruby 31 Amethyst 35 Diamond 16
84;Topaz 11 Ruby 30 Amethyst 37 Diamond 18