ACCUMULATOR 9000
ALEXANDRITE  ??
ALUMINIUM 5
ALUMINIUM_BAR 50
ALUMINIUM_BOTTLE 55
AMBER 4
AMBER_BRACELET 280
AMBER_CHARGER 4
AMBER_INSULATION 125
AMETHYST 18
BATTERY 200
BOMB   ??
CIRCUITS 2070
CIRCUITS 400
CLEAN_WATER 1200
COAL 1
COPPER 2
COPPER_BAR 25
COPPER_NAIL 7
DIAMOND 18
DIAMOND_CUTTER 5000
DIETHYL_ETHER   ??
EMERALD 12
EMERALD_RING 450
ETHANOL 4200
GEAR   ??
GLASS 450
GOLD 10
GOLD_BAR 250
GRAPE 1500
GRAPE_SEED 1200
GRAPHITE 15
GREEN_LASER 400
GUNPOWDER   ??
HYDROGEN 400
INSULATED_WIRE 750
IRON 3
IRON_BAR 40
LAB_FLASK 800
LAMP 760
LIANA 1700
LIANA_SEED 1000
MOTHERBOARD 17000
OIL 21
OXYGEN 900
PLASTIC 220000
POLISHED_ALEXANDRITE  ??
POLISHED_AMBER 70
POLISHED_AMETHYST 260
POLISHED_DIAMOND 300
POLISHED_EMERALD 160
POLISHED_RUBY 250
POLISHED_SAPPHIRE 230
POLISHED_TOPAZ 200
REFINED_OIL 16500
RUBBER 4000
RUBY 15
SAPPHIRE 16
SILICON 100
SILVER 7
SILVER_BAR 200
SODIUM 100
SOLAR_PANEL 69000
SOLID_PROPELLANT 27000
STEEL_BAR 180
STEEL_PLATE 1800
SULFUR 100
SULFURIC_ACID 3500
TITANIUM  ??
TITANIUM_BAR   ??
TITANIUM_ORE ???
TOPAZ 14
TREE 193
TREE_SEED 10
URANIUM ??
URANIUM_ROD  ??
WATER 5
WIRE 15