#mine_levels: write each one by levels, like 7 7 7 8 8 ... or group together with parenthesis, number first then level, like (3,7) (2,8) (16,6) .. use SINGLE SPACE to separate mines.
#ONLY use comma when grouping. DO NOT add space before or after colon (:) anywhere
mine_levels:(23,8)
number_chem_mines:10
max_depth:83
oil_rate:0.08
# did I forget any setting? Remind me on discord please

CRAFTER 6
CHEM 2
SMELTER 8
JEWELCRAFTER 2
GREENHOUSE 3
URANIUM_ENRICHMENT 1