#Smelter
1,COPPER_BAR:5,COPPER:SMELTER:10
1,IRON_BAR:5,IRON:SMELTER:15
1,GLASS:2,SILICON:SMELTER:60
1,ALUMINIUM_BAR:5,ALUMINIUM:SMELTER:15
1,STEEL_BAR:1,GRAPHITE,1,IRON_BAR:SMELTER:45
1,SILVER_BAR:5,SILVER:SMELTER:60
50,COAL:1,TREE:SMELTER:60
1,GOLD_BAR:5,GOLD:SMELTER:60

#Chem Lab
1,CLEAN_WATER:1,WATER,1,LAB_FLASK:CHEM:10m
2,HYDROGEN,1,OXYGEN:1,CLEAN_WATER:CHEM:15m
2,RUBBER:1,LIANA:CHEM:30m
1,SULFURIC_ACID:2,SULFUR,1,CLEAN_WATER:CHEM:30m
1,ETHANOL:1,ALUMINIUM_BOTTLE,2,GRAPE:CHEM:30m
1,REFINED_OIL:10,OIL,10,HYDROGEN,1,LAB_FLASK:CHEM:30m
1,PLASTIC:1000,COAL,200,GREEN_LASER,1,REFINED_OIL:CHEM:30m

#Crafting_Station
1,GRAPHITE:5,COAL:CRAFTER:5s
10,COPPER_NAIL:1,COPPER_BAR:CRAFTER:30s
1,WIRE:1,COPPER_BAR:CRAFTER:30s
1,BATTERY:1,AMBER,1,IRON_BAR,5,COPPER_BAR:CRAFTER:2m
1,CIRCUITS:10,IRON_BAR,50,GRAPHITE,20,COPPER_BAR:CRAFTER:3m
1,LAMP:5,COPPER_BAR,10,WIRE,20,GRAPHITE:CRAFTER:1m
1,LAB_FLASK:1,GLASS:CRAFTER:1m
1,AMBER_CHARGER:1,AMBER:CRAFTER:5s
2,ALUMINIUM_BOTTLE:1,ALUMINIUM_BAR:CRAFTER:30s
1,AMBER_INSULATION:10,AMBER,1,ALUMINIUM_BAR:CRAFTER:20s
1,INSULATED_WIRE:1,WIRE,1,AMBER_INSULATION:CRAFTER:3m
5,GREEN_LASER:1,POLISHED_EMERALD,1,INSULATED_WIRE,1,LAMP:CRAFTER:20s
1,DIAMOND_CUTTER:1,STEEL_PLATE,5,POLISHED_DIAMOND:CRAFTER:30s
1,MOTHERBOARD:1,GOLD,3,CIRCUITS,3,SILICON:CRAFTER:30m
1,SOLID_PROPELLANT:10,ALUMINIUM_BAR,3,RUBBER:CRAFTER:20m
1,ACCUMULATOR:20,SULFUR,20,SODIUM:CRAFTER:3m
1,SOLAR_PANEL:1,RUBBER,10,SILICON,50,GLASS:CRAFTER:1m


#Green_House
10,TREE:1,TREE_SEED,10,WATER:GREENHOUSE:30m
1,LIANA:1,LIANA_SEED,20,WATER:GREENHOUSE:30m
2,GRAPE:1,GRAPE_SEED,15,WATER:GREENHOUSE:30m

#Jewel_Crafting
1,POLISHED_AMBER:5,AMBER:JEWELCRAFTER:30s
1,EMERALD_RING:1,GOLD,1,POLISHED_EMERALD:JEWELCRAFTER:5m
1,AMBER_BRACELET:1,SILVER_BAR,1,POLISHED_AMBER:JEWELCRAFTER:2m
1,POLISHED_EMERALD:5,EMERALD:JEWELCRAFTER:30s
1,POLISHED_TOPAZ:5,TOPAZ:JEWELCRAFTER:1m
1,POLISHED_RUBY:5,RUBY:JEWELCRAFTER:1m
1,POLISHED_DIAMOND:5,DIAMOND:JEWELCRAFTER:1m
1,POLISHED_SAPPHIRE:5,SAPPHIRE:JEWELCRAFTER:1m
1,POLISHED_AMETHYST:5,AMETHYST:JEWELCRAFTER:1m

#Enrichment
1,URANIUM_ROD:100,URANIUM,50,SODIUM:URANIUM_ENRICHMENT:10m